
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Testngay</title>
</head>
<body>
    <div> 
        <form action="~/Test/Testngay" method="post">
            <input name="str" type="text" />
            <input name="date" value="@ViewBag.date" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
