@model _19T1021302.DomainModels.Order
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <div>
        <input type="text" name="" value="@Model.Status" />
        <input type="text" name="" value="@Model.OrderID" />

    </div>
</body>
</html>
